/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* background-color: #0d1230; */
}

a {
    text-decoration: none;
}

a:active {
    color: rgba(241, 158, 54, 1);
}



html {
    font-family: sans-serif;
}

.select-none {
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
   
}

/* Body Styling */
body {
    background: radial-gradient(
      circle,
      rgb(9, 13, 36) 0%,
      rgb(9, 13, 36) 15%,
      rgb(9, 13, 36) 75%
    );
    background-repeat: no-repeat;
    min-height: 100vh;
  }
/* Header Styling */
.header {
    display: flex;
    align-items: center;
    padding: 1rem;
}

.header a {
    margin-right: 1rem;
}

/* Squad Container */
.squad-container {
    margin: 1.75rem auto;
    width: 80%;
    height: 4.5rem;
    border-radius: 15px;
    background-color: rgba(50, 49, 49, 0.3);
    border: 2px solid rgba(43, 42, 42, 0.05);
}

.profile {
    width: 3rem;
    height: 3rem;
    background-color: rgb(16, 16, 16);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

.profile span {
    font-size: 2rem;
    color: rgba(151, 151, 151, 0.773);
}

/* Coin Count Container */
.coin-count-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.coin-count-container img {
    margin-right: 1rem;
    width: 50px;
}

.coin-count-container h1 {
    color: #ffffff;
    font-size: 2.3rem;
}

/* Progress Bar */
.progress-bar {
    width: 95%;
    height: 1rem;
    justify-content: center;
    align-items: center;


    margin: 1.25rem auto;
    border-radius: 30px;
    background-color: rgba(218, 218, 218, 0.5);
}

.progress {
    height: 100%;
    border-radius: 30px;
    width: 0;
    /* Initial width */
    transition: width 0.5s ease-out;
}

/* Rank Container */
.rank-container {
    display: flex;
    justify-content: space-between;
    /* قرار دادن رتبه‌ها در دو طرف */
    align-items: center;
    width: 50%;
    /* هم‌راستا با progress-bar */
    margin: 0 auto;
    /* مرکز کردن */
    margin-top: 1rem;
    /* فاصله از progress-bar */
}

.rank-item {
    display: flex;
    align-items: center;
}

.rank-item img {
    margin-right: 0.5rem;
    /* فاصله بین تصویر و متن */
}

.rank {
    font-weight: bold;
    color: #ffffff;
    font-size: 1rem;
    /* اندازه فونت متن */
}

/* Coin Container */
.coin-container {
    position: relative;
    margin-top:1.5rem;
    width: 100%;
    display: flex;
    justify-content: center;
}

.coin-container span {
    position: absolute;
    z-index: 999;
    font-size: 2rem;
    color: #ffffff;
}

#coin {
    transition: .1s;
    transform-style: preserve-3d;
}

/* footer Hakima */
.footer-buttons {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.btn-glass {
    background: #273657;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 28%;
    padding: 10px;
    width: 60px;
    height: 60px;
    color: #f0f0f0;
    text-align: center;
    font-size: 14px;
    cursor: pointer;
    /* opacity: 0.4; */
    /* transition: background 0.3s, border-color 0.3s, transform 0.3s; */
}

.f-botton {
    padding-left: 14px;
    font-size: x-large;
}

/* Menu Container */
.menu-container {
    margin-top: 7.25rem;
    
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #a3a9c7;
}

.power {
    display: flex;
    justify-content: center;
    margin-right: 0.5rem;
    width: 33%;
}

.power-count {
    display: flex;
    flex-direction: column;
}

.power-count span {
    color: #ffffff;
    font-weight: bold;
    font-size: 1.5rem;
}

.gray {
    color: #d7d7d798 !important;
    font-size: 0.75rem !important;
}

/* Header Container */
.header-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem 0;
    position: relative;
    width: 100%;
}

.mark {
    font-size: 1.75rem;
    color: #fff;
    margin: 0;
}

.mark_bot {
    font-size: 1.25rem;
    color: #947575;
    margin: 0;
}

.login {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 10vh;
    /* ارتفاع کمتر از 100vh برای کاهش فاصله‌های اضافی */
    padding: 0rem 0;
    /* اضافه کردن مقداری padding برای فضای متعادل */
     transform: scale(0.65); /* 0.75 معادل 25% کوچکتر شدن */
}

.user-card {
    text-align: center;
    margin: 0 auto;
    /* برای جلوگیری از هر گونه فاصله ناخواسته */
}

.glass-square {
    width: 120px;
    /* Adjust as needed */
    height: 120px;
    /* Adjust as needed */
    background: linear-gradient(135deg, #e18f9a, #dabf76, #9bb1bd, #c1a9e2);
    /* Gradient colors */
    border-radius: 20px;
    /* Slightly rounded corners */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    /* Optional, depending on spacing */
}

.user-circle {
    width: 100%;
    height: 100%;
    border-radius: 100%;
    object-fit: cover;
    overflow: hidden;
    margin: 0 auto;
    background-color: #17a2b8;
    display: flex;
    justify-content: center;
    align-items: center;
}

.user-circle img {
    width: 80%;
    height: 80%;
    object-fit: cover;
}

.user-name {
    margin-top: 10px;
    color: #ffffff;
    font-size: 1.5rem;
}

/* Progress Bar Container */
.progress-bar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 100%;
    margin-top: 1rem;
    padding: 0 10px;
}

/* Style for the progress bar */
.progress-bar {
    flex-grow: 1;
    margin: 0 15px;
    height: 10px;
    background-color: #ddd;
    border-radius: 5px;
}

/* Style for the progress fill */
.progress {


    width: 50%;
    height: 100%;
    background-color:  rgba(0, 148, 255, 1);
    border-radius: 5px;
}

/* Medal styles */
.medal {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.medal img {
    width: 30px;
}

.medal span {
    font-size: 12px;
}

.menu-container {
    width: 100%;
    padding: 0rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-buttons {
    width: 100%;
    /* عرض تمام صفحه */
    max-width: 1200px;
    /* حداکثر عرض برای جلوگیری از بیش‌ازحد بزرگ شدن */
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
    background: #0d1230;
    /* شیشه‌ای */
    backdrop-filter: blur(10px);
    /* فیلتر محو */
    border-radius: 0px;
    /* گرد کردن گوشه‌ها */
    border: 2px solid rgba(218, 218, 218, 0.03);
}

/* تنظیمات دکمه‌ها */
.button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    width: 25%;
    /* تقسیم دکمه‌ها به‌صورت برابر */
}

/* تنظیمات عکس‌ها */
.button img {
    max-width: 100%;
    height: auto;
    /* رسپانسیو شدن عکس‌ها */
    margin-bottom: 0.5rem;
}

/* استایل متن دکمه‌ها */
.button span {
    font-weight: bold;
    color: #ffffff;
}

.menu-buttons .button-home {
    position: relative;
    /* برای اعمال تغییرات به صورت دلخواه */
    transform: translate(10px, -10px);
    /* به سمت راست (10px) و بالاتر (10px-) جابجا کردن */
}

/* اگر بخواهیم به آن استایلی خاص بدهیم که مشخص شود فعال است */
.menu-buttons .button-home span {
    color: yellow;
    /* رنگ زرد برای تاکید */
    font-weight: bold;
}





.coin-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 2px;
    width: 100%;
}

.btn-cyan {
    width: 80%;
    /* تنظیم عرض کمتر برای دکمه تقویت */
    max-width: 220px;
    /* حداکثر عرض دکمه تقویت */
    padding: 10px;
    /* تنظیم padding کمتر برای دکمه تقویت */
    font-size: 25px;
    /* تنظیم فونت کوچکتر برای دکمه تقویت */
    background-color: #17a2b8;
    /* فیروزه‌ای */
}

button {
    width: 100%;
    max-width: 500px;
    /* حداکثر عرض */
    padding: 15px;
    font-size: 18px;
    border: none;
    border-radius: 40px;
    /* گرد کردن گوشه‌ها */
    cursor: pointer;
    color: white;
    font-weight: bold;
    text-align: center;
    transition: background-color 0.3s ease;
    display: inline-flex;
    align-items: center;
    /* تنظیم برای قرار گرفتن علامت رعد برق در خط */
    justify-content: center;
    /* قرار دادن متن و آیکون در مرکز دکمه */
}

.btn-blue {
    background-color: #0094ff;
    /* آبی تیره */
    font-size: 50px;
}

.btn-blue:hover {
    background-color: #0097b2 #7ed957;
    /* رنگ تیره‌تر در حالت هاور */
}

.btn-cyan {
    background-color: #17a2b8;
    /* فیروزه‌ای */
}

.btn-cyan:hover {
    background-color: #117a8b;
    /* رنگ تیره‌تر در حالت هاور */
}

button .icon {
    margin-left: 70px;
    /* فاصله بین متن و علامت رعد برق */
    font-size: 25px;
    /* تنظیم اندازه علامت رعد برق */
}

@media (max-width: 768px) {
    button {
        font-size: 16px;
        padding: 12px;
    }
}
