/* Reset CSS */
* {
<<<<<<< HEAD
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* background-color: #0d1230; */
=======
  margin: 0;
  padding: 0;
  box-sizing: border-box;
>>>>>>> Hanifa
}

a {
  text-decoration: none;
}

a:active {
<<<<<<< HEAD
    color: rgba(241, 158, 54, 1);
=======
  color: rgba(241, 158, 54, 1);
>>>>>>> Hanifa
}

html {
  font-family: sans-serif;
}

.select-none {
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

/* Body Styling */
body {
<<<<<<< HEAD
    background: radial-gradient(circle, rgba(253, 237, 201, 1) 0%, rgba(241, 158, 54, 1) 15%, rgba(23, 23, 23, 1) 75%);
    background-repeat: no-repeat;
    min-height: 100vh;
=======
  background: radial-gradient(
    circle,
    rgb(9, 13, 36) 0%,
    rgb(9, 13, 36) 15%,
    rgb(9, 13, 36) 75%
  );
  background-repeat: no-repeat;
  min-height: 100vh;
>>>>>>> Hanifa
}

/* Header Styling */
.header {
  display: flex;
  align-items: center;
  padding: 1rem;
}

.header a {
  margin-right: 1rem;
}

/* Squad Container */
.squad-container {
  margin: 1.75rem auto;
  width: 80%;
  height: 4.5rem;
  border-radius: 15px;
  background-color: rgba(50, 49, 49, 0.3);
  border: 2px solid rgba(43, 42, 42, 0.05);
}

.profile {
  width: 3rem;
  height: 3rem;
  background-color: rgb(16, 16, 16);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}

.profile span {
  font-size: 2rem;
  color: rgba(151, 151, 151, 0.773);
}

/* Coin Count Container */
.coin-count-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2.25rem;
}

.coin-count-container img {
  margin-right: 1rem;
  width: 50px;
}

.coin-count-container h1 {
  color: #ffffff;
  font-size: 3.5rem;
}

/* Progress Bar */
.progress-bar {
  width: 90%;
  height: 1rem;
  margin: 1.25rem auto;
  border-radius: 30px;
  background-color: rgba(218, 218, 218, 0.5);
}

.progress {
<<<<<<< HEAD
    height: 100%;
    background: linear-gradient(278deg, rgba(253, 237, 201, 1) 2%, rgba(241, 158, 54, 1) 52%, rgba(185, 103, 0, 1) 88%);
    border-radius: 30px;
    width: 0;
    /* Initial width */
    transition: width 0.5s ease-out;
=======
  height: 100%;
  background: linear-gradient(
    278deg,
    rgba(253, 237, 201, 1) 2%,
    rgba(241, 158, 54, 1) 52%,
    rgba(185, 103, 0, 1) 88%
  );
  border-radius: 30px;
  width: 0; /* Initial width */
  transition: width 0.5s ease-out;
>>>>>>> Hanifa
}

/* Rank Container */
.rank-container {
<<<<<<< HEAD
    display: flex;
    justify-content: space-between;
    /* قرار دادن رتبه‌ها در دو طرف */
    align-items: center;
    width: 90%;
    /* هم‌راستا با progress-bar */
    margin: 0 auto;
    /* مرکز کردن */
    margin-top: 1rem;
    /* فاصله از progress-bar */
=======
  display: flex;
  justify-content: space-between; /* قرار دادن رتبه‌ها در دو طرف */
  align-items: center;
  width: 90%; /* هم‌راستا با progress-bar */
  margin: 0 auto; /* مرکز کردن */
  margin-top: 1rem; /* فاصله از progress-bar */
>>>>>>> Hanifa
}

.rank-item {
  display: flex;
  align-items: center;
}

.rank-item img {
<<<<<<< HEAD
    margin-right: 0.5rem;
    /* فاصله بین تصویر و متن */
=======
  margin-right: 0.5rem; /* فاصله بین تصویر و متن */
>>>>>>> Hanifa
}

.rank {
<<<<<<< HEAD
    font-weight: bold;
    color: #ffffff;
    font-size: 1rem;
    /* اندازه فونت متن */
=======
  font-weight: bold;
  color: #ffffff;
  font-size: 1rem; /* اندازه فونت متن */
>>>>>>> Hanifa
}

/* Coin Container */
.coin-container {
  position: relative;
  margin-top: 1.5rem;
  width: 100%;
  display: flex;
  justify-content: center;
}

.coin-container span {
  position: absolute;
  z-index: 999;
  font-size: 2rem;
  color: #ffffff;
}

#coin {
  transition: 0.1s;
  transform-style: preserve-3d;
}

/* footer Hakima */
.footer-buttons {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.btn-glass {
    background: #273657;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 28%;
    padding: 10px;
    width: 60px;
    height: 60px;
    color: #f0f0f0;
    text-align: center;
    font-size: 14px;
    cursor: pointer;
    /* opacity: 0.4; */
    /* transition: background 0.3s, border-color 0.3s, transform 0.3s; */
}

.f-botton {
    padding-left: 14px;
    font-size: x-large;
}

/* Menu Container */
.menu-container {
<<<<<<< HEAD
    margin-top: 2.25rem;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #090d24;
=======
  margin-top: 2.25rem;
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
>>>>>>> Hanifa
}

.power {
  display: flex;
  justify-content: center;
  margin-right: 0.5rem;
  width: 33%;
}

.power-count {
  display: flex;
  flex-direction: column;
}

.power-count span {
  color: #ffffff;
  font-weight: bold;
  font-size: 1.5rem;
}

.gray {
<<<<<<< HEAD
    color: #d7d7d798 !important;
    font-size: 0.75rem !important;
=======
  color: #d7d7d798 !important;
  font-size: 0.75rem !important;
>>>>>>> Hanifa
}

/* Header Container */
.header-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem 0;
  position: relative;
  width: 100%;
}

.mark {
<<<<<<< HEAD
    font-size: 1.75rem;
    color: #fff;
    margin: 0;
}

.mark_bot {
    font-size: 1.25rem;
    color: #fff;
    margin: 0;
=======
  font-size: 1.75rem;
  color: #fff;
  margin: 0;
}

.mark_bot {
  font-size: 1.25rem;
  color: #fff;
  margin: 0;
>>>>>>> Hanifa
}

.login {
<<<<<<< HEAD
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 10vh;
    /* ارتفاع کمتر از 100vh برای کاهش فاصله‌های اضافی */
    padding: 1rem 0;
    /* اضافه کردن مقداری padding برای فضای متعادل */
}

.user-card {
    text-align: center;
    margin: 0 auto;
    /* برای جلوگیری از هر گونه فاصله ناخواسته */
}

.glass-square {
    width: 120px;
    /* Adjust as needed */
    height: 120px;
    /* Adjust as needed */
    background: linear-gradient(135deg, #e18f9a, #dabf76, #9bb1bd, #c1a9e2);
    /* Gradient colors */
    border-radius: 20px;
    /* Slightly rounded corners */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    /* Optional, depending on spacing */
}

.user-circle {
    width: 100%;
    height: 100%;
    border-radius: 100%;
    object-fit: cover;
    overflow: hidden;
    margin: 0 auto;
    background-color: #17a2b8;
    display: flex;
    justify-content: center;
    align-items: center;
}

.user-circle img {
    width: 80%;
    height: 80%;
    object-fit: cover;
=======
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 10vh; /* ارتفاع کمتر از 100vh برای کاهش فاصله‌های اضافی */
  padding: 1rem 0; /* اضافه کردن مقداری padding برای فضای متعادل */
}

.user-card {
  text-align: center;
  margin: 0 auto; /* برای جلوگیری از هر گونه فاصله ناخواسته */
}

.glass-square {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  padding: 20px;
  backdrop-filter: blur(10px);
}

.user-circle {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 auto;
}

.user-circle img {
  width: 100%; /* عرض تصویر به اندازه دایره */
  height: 100%; /* ارتفاع تصویر به اندازه دایره */
  object-fit: cover; /* تصویر به صورت کامل نمایش داده شود بدون تغییر نسبت */
  border-radius: 50%; /* برای گرد کردن تصویر */
>>>>>>> Hanifa
}

.user-name {
  margin-top: 10px;
  color: #ffffff;
  font-size: 1.5rem;
}

/* Progress Bar Container */
.progress-bar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  width: 100%;
  margin-top: 1rem;
  padding: 0 10px;
}

/* Style for the progress bar */
.progress-bar {
<<<<<<< HEAD
    flex-grow: 1;
    margin: 0 15px;
    height: 10px;
    background-color: #ddd;
    border-radius: 5px;
=======
  flex-grow: 1;
  margin: 0 15px;
  height: 10px;
  background-color: #ddd;
  border-radius: 5px;
>>>>>>> Hanifa
}

/* Style for the progress fill */
.progress {
<<<<<<< HEAD
    width: 50%;
    height: 100%;
    background-color: green;
    border-radius: 5px;
=======
  width: 50%;
  height: 100%;
  background-color: green;
  border-radius: 5px;
>>>>>>> Hanifa
}

/* Medal styles */
.medal {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.medal img {
  width: 30px;
}

.medal span {
  font-size: 12px;
}

.menu-container {
  width: 100%;
  padding: 1rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-buttons {
<<<<<<< HEAD
    width: 100%;
    /* عرض تمام صفحه */
    max-width: 1200px;
    /* حداکثر عرض برای جلوگیری از بیش‌ازحد بزرگ شدن */
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
    background: rgba(255, 255, 255, 0.2);
    /* شیشه‌ای */
    backdrop-filter: blur(10px);
    /* فیلتر محو */
    border-radius: 15px;
    /* گرد کردن گوشه‌ها */
    border: 2px solid rgba(218, 218, 218, 0.03);
=======
  width: 100%; /* عرض تمام صفحه */
  max-width: 1200px; /* حداکثر عرض برای جلوگیری از بیش‌ازحد بزرگ شدن */
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1rem;
  background: rgba(255, 255, 255, 0.2); /* شیشه‌ای */
  backdrop-filter: blur(10px); /* فیلتر محو */
  border-radius: 15px; /* گرد کردن گوشه‌ها */
  border: 2px solid rgba(218, 218, 218, 0.03);
>>>>>>> Hanifa
}

/* تنظیمات دکمه‌ها */
.button {
<<<<<<< HEAD
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    width: 25%;
    /* تقسیم دکمه‌ها به‌صورت برابر */
=======
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  width: 25%; /* تقسیم دکمه‌ها به‌صورت برابر */
>>>>>>> Hanifa
}

/* تنظیمات عکس‌ها */
.button img {
<<<<<<< HEAD
    max-width: 100%;
    height: auto;
    /* رسپانسیو شدن عکس‌ها */
    margin-bottom: 0.5rem;
=======
  max-width: 100%;
  height: auto; /* رسپانسیو شدن عکس‌ها */
  margin-bottom: 0.5rem;
>>>>>>> Hanifa
}

/* استایل متن دکمه‌ها */
.button span {
  font-weight: bold;
  color: #ffffff;
}

.menu-buttons .button-home {
<<<<<<< HEAD
    position: relative;
    /* برای اعمال تغییرات به صورت دلخواه */
    transform: translate(10px, -10px);
    /* به سمت راست (10px) و بالاتر (10px-) جابجا کردن */
=======
  position: relative; /* برای اعمال تغییرات به صورت دلخواه */
  transform: translate(
    10px,
    -10px
  ); /* به سمت راست (10px) و بالاتر (10px-) جابجا کردن */
>>>>>>> Hanifa
}

/* اگر بخواهیم به آن استایلی خاص بدهیم که مشخص شود فعال است */
.menu-buttons .button-home span {
<<<<<<< HEAD
    color: yellow;
    /* رنگ زرد برای تاکید */
    font-weight: bold;
=======
  color: yellow; /* رنگ زرد برای تاکید */
  font-weight: bold;
>>>>>>> Hanifa
}

.coin-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 20px;
  width: 100%;
}

.btn-cyan {
<<<<<<< HEAD
    width: 80%;
    /* تنظیم عرض کمتر برای دکمه تقویت */
    max-width: 240px;
    /* حداکثر عرض دکمه تقویت */
    padding: 10px;
    /* تنظیم padding کمتر برای دکمه تقویت */
    font-size: 16px;
    /* تنظیم فونت کوچکتر برای دکمه تقویت */
    background-color: #17a2b8;
    /* فیروزه‌ای */
=======
  width: 80%; /* تنظیم عرض کمتر برای دکمه تقویت */
  max-width: 240px; /* حداکثر عرض دکمه تقویت */
  padding: 10px; /* تنظیم padding کمتر برای دکمه تقویت */
  font-size: 16px; /* تنظیم فونت کوچکتر برای دکمه تقویت */
  background-color: #17a2b8; /* فیروزه‌ای */
>>>>>>> Hanifa
}

button {
<<<<<<< HEAD
    width: 100%;
    max-width: 300px;
    /* حداکثر عرض */
    padding: 15px;
    font-size: 18px;
    border: none;
    border-radius: 30px;
    /* گرد کردن گوشه‌ها */
    cursor: pointer;
    color: white;
    font-weight: bold;
    text-align: center;
    transition: background-color 0.3s ease;
    display: inline-flex;
    align-items: center;
    /* تنظیم برای قرار گرفتن علامت رعد برق در خط */
    justify-content: center;
    /* قرار دادن متن و آیکون در مرکز دکمه */
}

.btn-blue {
    background-color: #007bff;
    /* آبی تیره */
}

.btn-blue:hover {
    background-color: #0056b3;
    /* رنگ تیره‌تر در حالت هاور */
}

.btn-cyan {
    background-color: #17a2b8;
    /* فیروزه‌ای */
}

.btn-cyan:hover {
    background-color: #117a8b;
    /* رنگ تیره‌تر در حالت هاور */
}

button .icon {
    margin-left: 70px;
    /* فاصله بین متن و علامت رعد برق */
    font-size: 25px;
    /* تنظیم اندازه علامت رعد برق */
}

@media (max-width: 768px) {
    button {
        font-size: 16px;
        padding: 12px;
    }
}
=======
  width: 100%;
  max-width: 300px; /* حداکثر عرض */
  padding: 15px;
  font-size: 18px;
  border: none;
  border-radius: 30px; /* گرد کردن گوشه‌ها */
  cursor: pointer;
  color: white;
  font-weight: bold;
  text-align: center;
  transition: background-color 0.3s ease;
  display: inline-flex;
  align-items: center; /* تنظیم برای قرار گرفتن علامت رعد برق در خط */
  justify-content: center; /* قرار دادن متن و آیکون در مرکز دکمه */
}

.btn-blue {
  background-color: #007bff; /* آبی تیره */
}

.btn-blue:hover {
  background-color: #0056b3; /* رنگ تیره‌تر در حالت هاور */
}

.btn-cyan {
  background-color: #17a2b8; /* فیروزه‌ای */
}

.btn-cyan:hover {
  background-color: #117a8b; /* رنگ تیره‌تر در حالت هاور */
}

button .icon {
  margin-left: 70px; /* فاصله بین متن و علامت رعد برق */
  font-size: 25px; /* تنظیم اندازه علامت رعد برق */
}

@media (max-width: 768px) {
  button {
    font-size: 16px;
    padding: 12px;
  }
}
>>>>>>> Hanifa
